.profile__info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media screen and (min-width: 320px){
    .profile__info{
        height: 87px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 980px){
    .profile__info{
        height: 120px;
        margin-top: 18px;
    }
}