@import url('./_type/popup__name_type_error.css');
.popup__name{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    color: #000000;
}
@media screen and (min-width: 320px){
    .popup__name{
        font-size: 12px;
        line-height: 15px;
        margin-top: 24px;
        padding: 12px 0;
        width: 200px;
    }
}
@media screen and (min-width: 650px){
    .popup__name{
        font-size: 14px;
        line-height: 17px;
        margin-top: 40px;
        padding: 14px 0;
        width: 358px;
    }
}